$--margin: $--min-space * 4 0;
.#{$--prefix}markdown {
  line-height: 1.7;
  word-break: break-all;
  @for $i from 1 through 6 {
    h#{$i} {
      @include reset();
      margin: $--margin;
      font-size: ($--min-space / 2) * (14 - $i);
    }
  }
  // task list
  .#{$--prefix}task-list {
    @include reset();
    margin: $--margin;
    list-style: none;
    ul, ol {
      padding: 0 $--min-space * 6;
      margin: 0;
    }
  }
  .html5-video-player {
    width: 100%;
    display: block;
    margin: $--margin;
  }
  .html5-audio-player {
    display: block;
    margin: $--margin;
  }
  .header-anchor {
    display: none;
  }
  img {
    max-width: 100%;
  }
  code {
    background-color: $--color-3;
    border-radius: $--min-space;
    padding: 0 $--min-space + 2;
    white-space: nowrap;
  }
  pre code {
    background: none;
    display: inherit;
    border-radius: inherit;
    padding: 0;
    white-space: pre;
  }
  .language-plaintext {
    background-color: $--color-2;
    border-radius: $--min-space;
    padding: 0 $--min-space * 2;
    color: $--color-gray;
  }
  pre {
    width: 100%;
    box-sizing: border-box;
    border-radius: $--min-space;
    overflow-x: auto;
    margin: $--margin;
  }
  hr {
    height: 1px;
    display: block;
    border: 0;
    background-color: $--color-2;
    border-radius: 1px;
    overflow: hidden;
  }
  del {
    color: $--color-gray-light;
  }
  blockquote {
    @include reset();
    position: relative;
    padding: 12px 32px;
    background-color: $--color-bg;
    border-radius: $--min-space;
    color: $--color-gray-light;
    margin: $--margin;
    &::before {
      content: open-quote;
      position: absolute;
      font-family: Arial, sans-serif;
      color: $--color-gray-light;
      left: $--min-space * 3;
      top: $--min-space * 2;
      font-size: 60px;
      height: 40px;
      line-height: 60px;
      overflow: hidden;
    }
    &::after {
      content: close-quote;
      position: absolute;
      font-family: Arial, sans-serif;
      color: $--color-gray-light;
      right: $--min-space * 3;
      bottom: 0;
      font-size: 60px;
      height: 40px;
      line-height: 60px;
      overflow: hidden;
    }
  }
  table {
    width: 100%;
    border: 1px solid $--color-2;
    border-collapse: collapse;
    margin: $--margin;
    th, td {
      border: 1px solid $--color-2;
      padding: $--min-space $--min-space * 2;
    }
    th {
      background-color: $--color-bg;
      text-align: left;
    }
  }
  a {
    @include textHoverLine();
    display: inline-block;
    color: $--color-primary;
    transition: $--transition;
    text-decoration: none;
  }
  p {
    margin: $--margin;
    padding: 0;
  }
  ul, ol {
    margin: $--margin;
    padding: 0 0 0 $--min-space * 4;
    ul, ol {
      padding: 0 $--min-space * 4;
    }
  }
  div.code-toolbar > .toolbar .toolbar-item {
    margin-right: $--min-space;
  }
}
