@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';
@import '@assets/scss/vendor.scss';
@import '@assets/scss/markdown.scss';

.#{$--prefix}collection-detail {
  padding-bottom: $--main-padding;
  position: relative;
  .#{$--prefix}right-menu {
    position: absolute;
    right: 0;
    top: -1 * $--min-space * 9;
  }
  .detail-info {
    padding: 0 0 $--min-space * 5 0;
    h1 {
      @include reset();
      font-size: $--min-space / 2 * 13;
      font-weight: normal;
    }
    .info {
      padding-top: $--min-space * 3;
      ul {
        display: flex;
        flex-wrap: wrap;
        @include reset();
        li {
          padding-right: $--min-space * 4;
          font-size: $--min-space * 3;
          color: $--color-4;
          display: flex;
          align-items: center;
          white-space: nowrap;
          .iconfont {
            margin-right: $--min-space;
            color: $--color-1;
          }
          a {
            @include textHoverLine();
            color: $--color-4;
            margin-right: $--min-space;
            &:hover {
              color: $--color-primary;
            }
          }
        }
      }
    }
  }
  .#{$--prefix}article-related {
    margin: $--min-space * 6 0;
    ul {
      display: flex;
      @include reset();
      li {
        width: 50%;
        &:last-child {
          text-align: right;
        }
      }
      a {
        @include textHoverLine();
        color: $--color-primary;
      }
    }
  }
}
.#{$--prefix}tree-one {
  .totonoo--page-tree-placeholder .totonoo--page-tree a {
    border: 0;
    background: none;
  }
  .totonoo--page-tree-placeholder .totonoo--page-tree > ul > li {
    margin: 0;
  }
}
