@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';
@import '@assets/scss/vendor.scss';
@import '@assets/scss/markdown.scss';

.#{$--prefix}collection-detail {
  padding-bottom: $--main-padding;
  position: relative;
  .#{$--prefix}right-menu {
    position: absolute;
    right: 0;
    top: -1 * $--min-space * 9;
  }
  .detail-info {
    padding: 0 0 $--min-space * 3 0;
    h1 {
      margin: 0;
      font-size: $--min-space * 8;
      line-height: $--min-space * 8 * 1.618;
      padding: $--min-space * 2 0;
      font-weight: bold;
    }
    .info {
      ul {
        display: flex;
        @include reset();
        li {
          padding-right: $--min-space * 4;
          font-size: $--min-space * 2;
          color: $--color-4;
          display: flex;
          align-items: center;
          .iconfont {
            margin-right: $--min-space;
            color: $--color-1;
          }
          a {
            @include textHoverLine();
            color: $--color-4;
            margin-right: $--min-space;
            &:hover {
              color: $--color-primary;
            }
          }
        }
      }
    }
  }
  .#{$--prefix}article-related {
    margin: $--min-space * 6 0;
    ul {
      display: flex;
      @include reset();
      li {
        width: 50%;
        &:last-child {
          text-align: right;
        }
      }
      a {
        @include textHoverLine();
        color: $--color-primary;
      }
    }
  }
}
.#{$--prefix}tree-one {
  .totonoo--page-tree-placeholder .totonoo--page-tree a {
    border: 0;
    background: none;
  }
  .totonoo--page-tree-placeholder .totonoo--page-tree > ul > li {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .#{$--prefix}collection-detail {
    .detail-info {
      .info {
        ul {
          display: flex;
          flex-wrap: wrap;
          @include reset();
          li {
            width: 50%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
